<div class="dialog">
	<div class="dialog_header">
		<h1 class="h1 mh-500">{{"HandInSuccessfulUSB.Title" | i18n}}</h1>
	</div>

	<div class="dialog_body dialogSection">
		<div class="dialogSection dialogSection_iconContainer">
			<img class="dialogSection dialogSection_icon" src="images/answers_saved_to_usb_icon.svg" />
		</div>
		<div class="dialogSection dialogSection_text">
			<p ng-if="platform !== DX_CLIENT_TYPE.ANDROID">{{"HandInSuccessfulUSB.Text1" | i18n}}</p>
			<p ng-if="platform === DX_CLIENT_TYPE.ANDROID">{{"HandInSuccessfulUSB.Text3" | i18n}}</p>
			<p>{{"HandInSuccessfulUSB.Text2" | i18n}}</p>
		</div>
	</div>

	<div class="dialog_footer" >
		<button
			ng-click="close()"
			dx-button="cta">
				{{"HandInConfirm.HandedIn" | i18n}}
		</button>
	</div>
</div>
