<div class="webBrowser" ng-show="vm.visible">
	<div class="webBrowser_container">
		<div class="webBrowser_toolbar">
			<div class="webBrowser_toolbar_edgeItem">
				<button 
						ng-click="vm.webBrowser.back()"
						ng-disabled="!vm.canGoBack"
						class="mr-300 iconButton">
					<img src="images/icon_arrow_left.svg" alt="Back" />
				</button>
				<button 
						ng-click="vm.webBrowser.forward()"
						ng-disabled="!vm.canGoForward"
						class="mr-300 iconButton">
					<img src="images/icon_arrow_right.svg" alt="Forward" />
				</button>
				<button ng-click="vm.home()" class="mr-300 iconButton"><img src="images/icon_home.svg" alt="Home" /></button>
			</div>

			<div class="webBrowser_toolbar_title">
				<i class="fad {{vm.DX_EXTERNAL_TOOL_ICON_IDENTIFIER[vm.externalTool.logo]}} fa-2x dxIcon dxFaDualTone"></i>
				<span class="ml-300">{{vm.externalTool.title}}</span>
			</div>

			<div class="webBrowser_toolbar_edgeItem textRight">
				<button ng-click="vm.webBrowser.reload()" class="mr-300 iconButton"><img src="images/icon_refresh.svg" alt="Reload" /></button>
				<button ng-click="vm.close()" class="iconButton"><img src="images/icon_close.svg" alt="Close" /></button>
			</div>
		</div>

		<div class="webView_wrapper-externalTool">
			<webview
					useragent="{{vm.webViewUserAgent}}"
					tabindex="-1"
					class="webView"
					preload="./webview-preload.js\"
					plugins>
			</webview>
		</div>
	</div>
</div>
